@import "src/globalStyles/colors";

.wrapper{
  background-color: $black;
  &-inner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: $gray;
  margin-bottom: 40px;
}

.input{
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
  height: 35px;
  border-radius: 100px;
  padding: 10px 0 10px 16px;
  border: 1px solid $gray;
  backdrop-filter: blur(32px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  outline:none;

  &::placeholder{
    color: $black;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }

  &-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.button{
  &-inner{
    max-width: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 473px) {
      flex-direction: column;
      height: 100px;
      justify-content: space-between;
    }
  }
}
