@import '/src/globalStyles/colors.scss';

.wrapper {
  background-color: $black;
  padding: 100px 20px;
}

.inner {
  max-width: 1168px;
  margin: 0 auto;
  width: 100%;
}

.top-content {
  &-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 2px solid $white;
    @media (max-width: 350px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-left-side {
    width: 50%;
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    @media (max-width: 350px) {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    &-logo {
      max-width: 128px;
      width: 100%;
      margin-bottom: 20px;
    }

    &-sub-title {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: $gray;
    }
  }

  &-right-side {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 350px) {
      width: 100%;
      padding: 0;
    }
    .business-areas{
      &:first-child{
        padding-right: 15px;
      }
      li:first-child {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $gray;
      }

      &-item {
        margin-bottom: 10px;
      }

      &-link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $white;
      }
    }
  }
}

.center-content {
  margin-top: 36px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $white;

  &-inner {
    width: 50%;
    padding-right: 10px;
  }

  &-check-box-inner {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
  }

  &-sub-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: $gray;
  }

}

.all-right {

  &-inner {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
  }

  &-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-right: 10px;
    color: $gray;
  }

  &-icons{
    max-width: 112px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
