@import '/src/globalStyles/colors.scss';

.wrapper{
  min-height: calc(100vh - 82px);
  background-image: url("../../assets/bg/bg-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 0 40px 0;
  &::after{
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
  }
}
.info-inner{
  max-width: 600px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  &-pre-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $gray;
  }

  &-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    margin-bottom: 10px;
    color: $white;
  }

  &-info{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
    margin-bottom: 10px;
  }
}
